.header{
  display: flex;
  height: 50px;
  background-color: black;
  color: #ffffff;
  line-height: 50px;
  &__title{
    margin-left: 25px;
    font-size: 22px;
  }
  &__contents{
    margin: 0 35px 0 auto;
    a{
      margin-left: 35px;
      text-decoration: none;
      color: #ffffff;
    }
  }
  
}