.footer
  .footer__inner
    %ul.footer-navi
      %li.footer-navi__text
        プライバシーポリシー
      %li.footer-navi__text
        サイトマップ
      %li.footer-navi__text
        お問い合わせ
  .footer__wrapper
    @2020 Exchange-Diary