.footer
  .footer__inner
    %ul.footer-navi
      %li.footer-navi__text
        = link_to "プライバシーポリシー", "#"
      %li.footer-navi__text
        = link_to "サイトマップ", "#"
      %li.footer-navi__text
        = link_to "お問い合わせ", "#"
  .footer__wrapper
    @2020 Exchange-Diary