.header
  %section.header__upper
    .headlogo
      = link_to root_path do
        = image_tag "logo/logo.png", class: "headlogo__img"
    %ul.contents
      %li.contents__logout-btn
        = link_to "log out", destroy_user_session_path
      %li.contents__help-btn
        = link_to "help", "#" 