.header
  .header__title
    Diario
  %ul.header__contents
    %li
      - if user_signed_in?
        = link_to "sign out", destroy_user_session_path, method: :delete
      - else
        = link_to "Sign up", new_user_registration_path, class: "newbtn"
        = link_to "Sign in", new_user_session_path, class: "inbtn"