.mypage{
  position: relative;
  position: fixed;
  width: 100%;
  height: 100%;
  &__title{
    position: absolute;
    left: 50%;
    top: 10px;
    transform: translateX(-50%);
  }
  &__topics{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background-color: red;
    .sub-title{
      text-align: center;
    }
    .diaries{
      height: 200px;
      width: 1200px;
      background-color: blue;
      &__diary{
        display: inline-block;
        height: 100%;
        width: 350px;
        background-color: greenyellow;
        &--image{
        }
        &--text{
          
        }
      }
    }
  }
  &__profile{
    position: absolute;
    left: 50%;
    bottom: 10px;
    transform: translateX(-50%);
  }
}