.mypage{
  overflow: scroll;
  position: relative;
  width: 100%;
  height: 100%;
  &__topics{
    width: 100%;
    position: absolute;
    left: 50%;
    top: 50px;
    transform: translateX(-50%);
    .diaries{
      margin: 0 auto;
      width: 800px;
      height: 200px;
      background-color:#ffff;
      list-style: none;
      display: flex;
      &__diary{
        height: 100%;
        width: 100%;
        justify-content: space-between;
        &--image{
          width: 150px;
          height: 150px;
          margin: 10px auto;
          img{
            width: 100%;
            height: 100%;
            border-radius: 50%;
            object-fit: cover;
          }
        }
        &--text{
          text-align: center;
        }
      }
    }
  }
  &__profile{
    margin: 0 auto;
    width: 100%;
    position: absolute;
    left: 50%;
    top: 450px;
    transform: translateX(-50%);
    .items{
      text-align:  center; 
      &__note{
        display: inline-block;
        margin: 5px;
        width: 170px;
        font-family: fantasy;
        font-size: 20px;
        .item{
         display: inline;
         margin-left: 10px;
         font-size: 15px;
        }
      }
    }
  }
}
.heading{
  text-align: center;
  font-size: 50px;
  margin: 20px auto;
  font-family: fantasy;
}