.main
  %section.main__visual
    = image_tag (src = "topppage.jpg"), class: "img"
  %h2.content
    .content__catchphrase
      オンラインで簡単に交換日記
    .content__text
      Diarioは画像を使った交換日記です。<br>
      遠くの友達とその日の出来事を画像で共有できます。