.profile
  = image_tag (src = "https://www.pakutaso.com/shared/img/thumb/texture171030IMGL0767_TP_V.jpg")
  .profile__title
    マイページ
  .profile__info
    %ul.name
      %li.name__text
        名前
      %li.name__user
        テスト太郎
    %ul.birth
      %li.birth__text
        生年月日
      %li.birth__user
        %li.month
          01月
        %li.day
          01日
  %p.profile__intro
    プロフィール