.mypage-headder
  = render "share/header"
.mypage
  .mypage__topics
    .heading
      Diaries
    %ul.diaries.effect-fade
      %li.diaries__diary  
        .diaries__diary--image
        - if @diaries.myself_id.present?
          = link_to "#" do
            .sample
              .sample__name
                yui
.mypage-footer
  = render "share/footer"

