.mypage
  = image_tag (src = "")
  .mypage__title
    マイページ
  .mypage__topics
    .sub-title
      日記一覧
    %ul.diaries
      %li.diaries__diary
        .diaries__diary--image
        .diaries__diary--text
          みかん
      %li.diaries__diary
        .diaries__diary--image
        .diaries__diary--text
          りんご
      %li.diaries__diary
        .diaries__diary--image
        .diaries__diary--text
          イチゴ
  .mypage__profile
    プロフィール